*{
    font-family:Georgia, 'Times New Roman', Times, serif
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: darkgoldenrod;
}
form{
    background: darkgoldenrod;
    width: 350px;
    height: 580px;
    padding-left: 50px;
    padding-top: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    margin-bottom: 45px;
    color: white;
    font-size: 40px;
}
.textboxdiv{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
}
.textboxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 30px;
    font-size: 20px;
}
.loginBtn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: darkgoldenrod;
    background-size: 200%;
    color: white;
    font-size: 16px;
}
.loginBtn:hover{
    background-position: right;
    font-size: 17px;
}
.signup a{
    color: black
    ;
}